    /* Debug view styling */
html:not([data-debug-view]) #debug-view-toggle {
    color: #111;
    border-color: #ccc;
}

html:not([data-debug-view]) #debug-view-toggle:hover {
    background-color: #eee;
    border-color: #111;
}

html[data-debug-view] #debug-view-toggle {
    background-color: #9e9;
    border-color: #7c7;
}

html[data-debug-view] #debug-view-toggle:hover {
    background-color: #7c7;
    border-color: #5a5;
}

html[data-debug-view] .debug {
    background-color: #dc9;
}

html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
    background-color: #bbb;
}

  /* Debug bar styling */
  #debug-bar,
  #debug-bar-toggle,
  #debug-bar-watch {
	  background-color: #eee;
	  border-color: #ccc;
  }
  #debug-bar-watch div {
	  color: #777;
  }
  #debug-bar-toggle,
  #debug-bar-watch-toggle,
  #debug-bar-views-toggle {
	  color: #111;
	  border-color: #ccc;
  }
  #debug-bar-toggle:hover,
  #debug-bar-watch-toggle:hover,
  #debug-bar-views-toggle:hover {
	  background-color: #ddd;
	  border-color: #111;
  }
  #debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle,
  html[data-debug-view] #debug-bar-views-toggle {
	  background-color: #9e9;
	  border-color: #7c7;
  }
  #debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:hover,
  html[data-debug-view] #debug-bar-views-toggle:hover {
	  background-color: #7c7;
	  border-color: #5a5;
  }

.debug-images {
	height: 256px;
	width: 120px;
	overflow: hidden;
	background-color: #222;
	border: solid 1px #ddd;
}
.debug-images > * {
	position: absolute;
	height: 256px;
	overflow: hidden;
	left: -57px;
}

.debug-hideImageOverflow {
	overflow: hidden;
	height: 256px;
	width: 120px;
	position: relative;
}

.error-view {
	background-color: rgb(255, 249, 159);
	border-left-color: rgb(255, 223, 40);
	font-size: 12px;
	color:#444;
}

.error-view > .error-source:not([hidden]) {
	background-color: rgba(255, 255, 255, 0.2);
}

.debugPassages {
	max-width: 2000px !important;
}

#saveCompareUI {
	border: solid 1px #aaa;
}

#saveCompareUI {
	border: solid 1px #aaa;
}

#comparedResult .item {
	border: solid 1px #aaa;
	padding: 3px;
	margin: 3px 0;
	word-wrap: break-word;
}